:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
	background: #0F6CBD;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.suggession_card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: rgb(255,255,255);
  border-radius: 2px;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 800px;
}

.suggession_card h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.suggession_card p {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #888;
}

.suggession_card .industry-chip {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1f2937; /* dark gray */
  background-color: #e0f2fe; /* light blue */
  border: 1px solid #38bdf8; /* blue border */
  border-radius: 9999px; /* fully rounded */
  white-space: nowrap;
  max-width: fit-content;
}


.suggession_card button {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: fit-content;
}

.create_event_btn {
  margin-left: 10px;
  margin-right: 10px;
}

.suggessionModal_heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}